{% extends "base.html" %}
{% block body %}
<div class="gym_name_and_menu_icon">
    <!-- company name to show when menu is clicked -->
    <div class="gym__name_container">
      <span class="gym__name_top">Fitness Center</span>
    </div>

    <!-- open menu icon container: will be dissapeared when clicked -->
    <div class="nav__icons_menu">
      <a href="#"><i id="menu" class="bx bx-menu"></i></a>
    </div>
  </div>
</header>
<!-- ================== END HEADER ============ -->
<!-- ================== MAIN =============== -->
<main>
  <!-- ----------------------- SECTION-1 ---------------- -->
  <section class="section_1 container">
    <div class="gym_name_and_slogan_n_image">
      <div class="gym_name_and_slogan">
        <div class="gym_name">
          FItness Center
        </div>
        <div class="slogan">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit,Lorem ipsum,
          dolor sit amet consectetur adipisicing elit. Possimus, quis?
        </div>
        <div class="home__buttons">
          <div>
            <div class="btn btn__home first">
              <div class="day__container">
                <span class="day">
                  SATURDAY
                </span>
              </div>

              <div class="hour">
                7am
              </div>
            </div>

            <div class="btn btn__home sec">
              <div class="day__container">
                <span class="day">
                  SUNDAY
                </span>
              </div>
              <div class="hour">
                6am
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home__image">
        <div class="home_image_img">
          <img src="https://github.com/r-e-d-ant/gym-website-design/blob/main/assets/images/home_blob_img.png?raw=true" alt="people training in gym house">
        </div>
      </div>
    </div>
  </section>
  <!-- ------------------------- SECTION-2 ------------------ -->
  <section class="section_2 quotes_section">
    <div class="quote">
      <div class="quote__text">
        ”<span>I hate</span> every minute of training, But i said, <span>don't quit</span>. Suffer now and <span>live the rest</span> of your life <span>as a champion</span>.”
      </div>
      <div class="quote__author">
        - Muhammad Ali -
      </div>
    </div>
  </section>
  <!-- ----------------------- END SECTION-1 ---------------- -->

  <!-- ------------------------- SECTION-3 ------------------ -->
  <section class="section_3 images_slides">
    <div class="slideshow">
      <div class="slideshow-container slide_7">
        <div class="mySlides fade">
          <img src="https://github.com/r-e-d-ant/gym-website-design/blob/main/assets/images/slide_7.jpg?raw=true">
        </div>
      </div>
      <div class="slideshow-container slide_2">
        <div class="mySlides fade">
          <img src="https://github.com/r-e-d-ant/gym-website-design/blob/main/assets/images/slide_2.jpg?raw=true">
        </div>
      </div>
      <div class="slideshow-container slide_8">
        <div class="mySlides fade">
          <img src="https://github.com/r-e-d-ant/gym-website-design/blob/main/assets/images/slide_8.jpg?raw=true">
        </div>
      </div>
    </div>
  </section>
  <!-- ----------------------- END SECTION-3 ---------------- -->

  <!-- ------------------------- SECTION-4 ------------------ -->
  <section class="section_4 about">
    <div class="title_about">WHO WE ARE</div>
    <div class="line_break">
      <svg class="line_break_about_title" viewBox="0 0 358 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Phone_view" transform="translate(-188.000000, -1373.000000)">
            <g id="section4" transform="translate(133.000000, 1285.000000)">
              <rect id="page4" fill="#E0E9F5" x="0" y="0" width="481" height="384"></rect>
              <g id="about_g" transform="translate(11.000000, 23.000000)">
                <rect id="about" x="0" y="0" width="462.78603" height="333"></rect>
                <g id="about_itle_and_text_g" transform="translate(44.318456, 0.000000)">
                  <g id="Group" transform="translate(178.854367, 71.110990) rotate(90.000000) translate(-178.854367, -71.110990) translate(173.354367, -107.389010)">
                    <ellipse id="Oval" fill="#8A6D83" cx="5.3273925" cy="172.430455" rx="5.3273925" ry="5.325"></ellipse>
                    <line x1="4.82739253" y1="234.310909" x2="4.82739253" y2="355.401818" id="Line" stroke="#8A6D83" fill="#FFF1FF" stroke-linecap="square"></line>
                    <line x1="4.82739253" y1="0.605454545" x2="4.82739253" y2="121.696364" id="Line-Copy" stroke="#8A6D83" fill="#AF5299" stroke-linecap="square"></line>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <p class="about_text">
      Lorem ipsum dolor sit amete on everyone, to come the party, consectetur adipisicing elit. Obcaecati, doloremque. aperiam quia accusamus amet officia:
    </p>
    <ul class="caracteristics">
      <i class="bullet bx bxs-bullseye"></i>
      <li class="caracteristic caracteristic_1">laugh</li>
      <i class="bullet bx bxs-bullseye"></i>
      <li class="caracteristic caracteristic_2">chill</li>
      <i class="bullet bx bxs-bullseye"></i>
      <li class="caracteristic caracteristic_3">enjoy</li>
    </ul>
    <p class="about_text">
      Molestiae in magnam deserunt nemo quas incidunt possimus ab eum explicabo tenetur tempora eius, sapiente natus suscipit. Nostrum minima dignissimos nisi adipisci!
    </p>
  </section>
  {% endblock %}